.wrapper {
  padding: 10px;
}

.container {
  box-sizing: border-box;

  position: relative;

  width: 332px;
  height: 196px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #dcd8d3;
  background: #1a1c23;
  border-radius: 10px;

  padding: 20px;

  &:hover .icon {
    opacity: 1;
  }
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.section {
  display: flex;
  gap: 16px;

  margin-bottom: 16px;
}

.block {
  display: flex;
  gap: 16px;
}

.info {
  width: 219px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  font-size: 14px;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  font-size: 20px;
}

.img {
  width: 56px;
  height: 56px;

  border-radius: 50%;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-size: 12px;
  color: #8c8988;
}
